/*-- scss:defaults --*/
$font-family-sans-serif: "Open Sans", "Segoe UI", Arial, sans-serif;
$font-size-root: 16px;
$body-color: #373d43;
$headings-color: #373d43;
$headings-font-weight: 600;
$link-color: #993399;
$line-height-base: 1.55;
$sidebar-bg: #339898;
$sidebar-fg: #ffffff;
$sidebar-hl: #ffffff;

